.workspace-tile
	cursor: pointer
	margin-bottom: 10px
	position: relative
	outline: none
	border: 2px solid transparent
	.workspace-image-container
		margin: 1px
		.workspace-image
			border-radius: 5px
			display: block
			height: 50px
			width: 50px
	.workspace-name-container
		display: none
	&:hover
		.workspace-name-container
			background-color: #222
			border-radius: 5px
			color: #eee
			display: inline-block
			padding: 5px 8px
			position: absolute
			left: 50px
			top: 15px
			white-space: nowrap
			&:before
				border: solid transparent
				border-right-color: #222
				border-width: 5px
				content: ""
				height: 0
				width: 0
				position: absolute
				right: 100%
				top: 33%
	&.active-tile
		border-color: #ccafcc
		border-radius: 8px
			

