.message-container
	display: flex
	margin-top: 10px
	.message-description
		margin-left: 12px
		.message-info
			.user-name
				font-weight: bold
			.time-info
				color: #666
				font-size: 14px
				margin-left: 10px
		.message-body
			margin-top: 5px
