<div class="message-container">
  <div class="user-image">
    <img src="https://api.adorable.io/avatars/65/user1.png" />
  </div>
  <div class="message-description">
    <div class="message-info">
      <span class="user-name">Vijay Kumar</span>
      <span class="time-info">5:01 PM</span>
    </div>
    <div class="message-body">
      {{ order }} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s
    </div>
  </div>
</div>
