<div class="chat-header">
  <div class="info-container">
    <div class="chat-name">{{ chatName | async }}</div>
    <div class="chat-info">
      <div class="count-container user-count-container">
        <span class="fa fa-user-o" aria-hidden="true"></span>
        <span class="count user-count">21</span>
      </div>
      <div class="count-container pin-count-container">
        <span class="fa fa-thumb-tack" aria-hidden="true"></span>
        <span class="count pin-count">4</span>
      </div>
      <div class="chat-description">
        Track and coordinate social media
      </div>
    </div>
  </div>
  <div class="info-icon-container">
    <span class="fa fa-info-circle" aria-hidden="true"></span>
  </div>
</div>
