.chat-header
	border-bottom: 1px solid #666
	display: flex
	justify-content: space-between
	align-items: center
	padding: 10px 20px
	.chat-name
		font-weight: bold
		font-size: 20px
	.chat-info
		color: #666
		display: flex
		font-size: 14px
		margin-top: 4px
		.count-container
			border-right: 1px solid #999
			.count
				margin: 0 7px
		.pin-count-container
			margin-left: 7px
			.fa-thumb-tack
				transform: rotate(-45deg)
		.chat-description
			margin-left: 7px
	.info-icon-container
		color: #666