<div class="chat-list-container">
  <div class="chat-header" [ngClass]="listExpanded ? 'expanded' : 'collapsed'" (click)="listExpanded = !listExpanded">
    <span class="fa fa-caret-down" aria-hidden="true"></span>
    <span class="chat-name">{{ chatListName }}</span>
  </div>
  <div class="chat-list" [ngClass]="listExpanded ? 'expanded' : 'collapsed'">
    <div class="chat-item" *ngFor="let item of chatListItems" (click)="openChat(item.itemId)">
      <span class="icon" aria-hidden="true" [ngClass]="item.type"></span>
      <span class="name">{{ item.displayName }}</span>
    </div>
  </div>
</div>
