<div class="workspace-filters">
  <div class="filter">
    <span class="filter-icon fa fa-align-justify" aria-hidden="true"></span>
    <span class="filter-name">All unreads</span>
  </div>
  <div class="filter">
    <span class="filter-icon fa fa-weixin" aria-hidden="true"></span>
    <span class="filter-name">Threads</span>
  </div>
  <div class="filter">
    <span class="filter-icon fa fa-at" aria-hidden="true"></span>
    <span class="filter-name">Mentions and reactions</span>
  </div>
  <div class="filter">
    <span class="filter-icon fa fa-angle-double-down" aria-hidden="true"></span>
    <span class="filter-name">Show more</span>
  </div>
</div>
