.workspace-filters
	border-bottom: 1px solid #6b4f6d
	box-sizing: border-box
	padding: 15px
	.filter
		color: #eee
		cursor: pointer
		margin-bottom: 5px
		.filter-icon
			font-size: 15px
			width: 30px
		.filter-name
			display: inline-block
			font-size: 14px
		&:hover
			background: rgba(107, 79, 109, 0.5)