.slack-top-container
	box-sizing: border-box
	display: flex
	align-items: stretch
	height: 100vh
	.workspace-tiles-container
		background-color: #3c1041
		border-right: 1px solid #6b4f6d
	.workspace-details
		flex-grow: 1
