.user-profile
	position: relative
	.user-image
		img 
			border-radius: 5px
			cursor: pointer
			width: 40px
	.profile-tile
		background: #3c1041
		border-radius: 10px
		padding: 15px
		top: 00px
		left: 25px
		pointer-events: none
		position: absolute
		z-index: 100
		.user-full-image
			img 
				width: 120px
				height: 120px
				border-radius: 50%
				border: 2px solid #a57ca9
		.user-name
			color: #fff
			font-size: 18px
			font-weight: bold
			margin-top: 10px
			text-align: center