.workspace-tile-navigator
	border-right: 1px solid #567
	background-color: #3c1041
	padding: 10px
	.new-workspace-container
		cursor: pointer
		text-align: center
		.fa
			font-size: 25px
			color: #fff