.chat-home
	background: #ccc
	display: flex
	flex-direction: column
	height: 100vh
	min-width: 300px
	.message-container
		border: 1px solid #000
		flex: 1 1 100%
	.chat-input-container
		border: 1px solid #000