.chat-home
	background: #fefefe
	display: flex
	flex-direction: column
	height: 100vh
	min-width: 300px
	overflow: auto
	.chat-header-container
		flex: 0 0 auto
	.message-group-container
		margin: 5px
		// display: flex
		// flex-direction: column
		justify-content: flex-end
		flex: 1 1 100%
		overflow-y: auto
	.chat-input-container
		flex: 0 0 auto